<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Genres</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <header><%- include ('../partials/header-desktop.ejs') %></header>

        <h1>Connect to Spotify</h1>
        <p>Please authorize this app to make use of it.</p>
        <%- include ('../partials/connect-btn.ejs')%>
    </body>
</html>
