<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <header><%- include ('../partials/header.ejs') %></header>

        <h1>Home</h1>
        <p>Discover new music, fine-tuned to your tastes.</p>
        <%- include ('../partials/connect-btn.ejs')%>
    </body>
</html>
