<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="favicon" href="/img/temp-icon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <section class="wrapper">
            <header><%- include ('../partials/header-desktop.ejs') %></header>
            <main class="<%- mainStyle %>">
                <h1>
                    Your tastes, <br />
                    your say.
                </h1>
                <p>
                    Generate a playlist tailored specifically to your most
                    listened tracks. <br />
                    Marching to the beat of <em><strong>your</strong></em> drum.
                </p>

                <section class="call-to-action">
                    <%- include ('../partials/connect-btn.ejs')%>
                    <p>
                        <small
                            >*Authorization required to access your Spotify top
                            tracks.
                        </small>
                        <small
                            >Data is solely used by
                            <strong>Harmonize</strong> and not shared.</small
                        >
                    </p>
                </section>
            </main>
        </section>
        <script>
            // function getHashParams() {
            //     let hashParams = {};
            //     let e,r = /
            // }
        </script>
        <script src="/js/index.js"></script>
    </body>
</html>
