<nav>
    <ul class="logo">
        <li class="title">Harmonize.</li>
        <li><img class="icon" src="/img/temp-icon.png" alt="Lotus flower vector image" /></li>
    </ul>
    <ul>
        <li>About the Developer</li>
    </ul>
</nav>
