<nav>
    <ul class="logo">
        <li class="title">Harmonize.</li>
        <li>
            <img
                class="icon"
                src="/img/temp-icon.png"
                alt="Lotus flower vector image"
            />
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://github.com/rosemulazada" target="_blank">About the Developer</a>
        </li>
    </ul>
</nav>
