<section class="recommendations_display">
    <section class="recommendations_display__left">
        <%- include('../partials/recommendation.ejs', { position: 'left',
        recommendedTrackImgs: recommendedTrackImgs }) %>
    </section>
    <section class="recommendations_display__center">
        <%- include('../partials/recommendation.ejs', { position: 'center',
        recommendedTrackImgs: recommendedTrackImgs }) %>
    </section>
    <section class="recommendations_display__right">
        <%- include('../partials/recommendation.ejs', { position: 'right',
        recommendedTrackImgs: recommendedTrackImgs }) %>
    </section>
</section>
