:root {
    /* colors */
    --spotify-green: #1ed760;
    --spotify-btn-highlight: #1fdf64;
    --text-color: #191414;

    /* font-related */
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

/* FONT IMPORTS */
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

/* general styling */
/* TODO: Scale items for mobile before doing anything else. */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overscroll-behavior: none;
    overflow: hidden;

    background-color: #162c49;
    color: #f13ba0;

    font-family: var(--font-family);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    margin-block: 1em;
}

/*============================================
 *                CODE START
 *============================================*/

/* TYPOGRAPHY */
small {
    font-weight: 400;
}

strong {
    text-transform: lowercase;
}

/* header styling */
header {
    padding: 3em 3em 0 3em;

    color: white;
    /* opacity: 0.5; */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul.logo {
            display: flex;
            flex-direction: row;

            li.title {
                font-family: "Gilroy-ExtraBold", var(--font-family);
                font-weight: 700;
                font-size: 1.3em;
            }

            .icon {
                width: 32px;
                height: 32px;
            }
        }

        li {
            text-transform: lowercase;
            list-style: none;
        }
    }
}

h1 {
    font-family: "Gilroy-ExtraBold", var(--font-family);
    font-size: 4em;
    /* width: 6em; */
}

/* mouse */
.circle {
    --circle-size: 50px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid rgba(0, 0, 0, 0.457);
    border-radius: 100%;
    background: none;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
}

/* reveal page layout */
main.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: min-content;
    justify-content: center;
    align-items: center;

    .wrapper__container {
        display: flex;
        align-items: start;
        padding: 0 3em 3em 3em;
        gap: 3em;
        justify-content: center;
        width: 90%;

        &:nth-of-type(4) {
            justify-content: left;
            h1 {
                font-size: 5em;
            }
        }

        img.topTrackImg {
            width: 35%;
            border-radius: 15%;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 3em;

            #toptrack__container {
                display: flex;
                align-items: center;
                padding-top: 2em;

                gap: 1em;
                align-items: center;

                #toptrack__name {
                    font-size: calc(3em + 0.5vw);
                }

                #toptrack__artists {
                    font-size: calc(1em + 0.5vw);
                    color: white;
                }
            }

            h1 {
                font-size: 2em;
                color: rgb(240, 231, 231);
            }
        }
    }
}

p {
    color: #c1c7d4;

    strong {
        color: white;
    }
}

/* footer */
footer {
    border: 1px solid black;
    padding: 2em;
    text-align: center;
    small {
        display: block;
    }
}

section.call-to-action {
    small:first-of-type {
        margin-top: 1em;
    }

    small {
        display: block;
    }
}

/* progress bar */
progress {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border: none;
    background: transparent;
    z-index: 99999999999999999999;
}

progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    background: linear-gradient(
        to left,
        #db38b5,
        #01b3e3,
        #25ce7b,
        #fdc741,
        #ff6b01,
        #fc4236
    );
    background-attachment: fixed;
}
progress::-moz-progress-bar {
    background: linear-gradient(
        to left,
        #db38b5,
        #01b3e3,
        #25ce7b,
        #fdc741,
        #ff6b01,
        #fc4236
    );
    background-attachment: fixed;
}

body {
    background: linear-gradient(
        to bottom,
        desaturate(lighten(#db38b5, 30%), 30%),
        desaturate(lighten(#01b3e3, 30%), 30%),
        desaturate(lighten(#25ce7b, 30%), 30%),
        desaturate(lighten(#fdc741, 30%), 30%),
        desaturate(lighten(#ff6b01, 30%), 30%),
        desaturate(lighten(#fc4236, 30%), 30%)
    );
}

/* gallery */
.gallery {
    margin-top: 30em;
    height: 100%;
    width: 100%;
    position: relative;

    h1#gallery__text {
        position: absolute;
        font-size: 12em;
        width: 100%;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -35%);
        font-size: 6em;
        z-index: 999999999999;
        color: #fff;
        mix-blend-mode: exclusion;
        text-align: center;
        filter: contrast(200%);
    }

    .moving-imgs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: max-content;

        .img {
            width: clamp(40em, 70vh, 70em);
            height: clamp(70vh);
            position: relative;
            background-size: cover;
            z-index: 999;

            &:nth-of-type(1) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(2) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(3) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(4) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(5) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(6) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(7) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(8) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }
            &:nth-of-type(9) {
                background-image: url("https://assets.codepen.io/2621168/img1.jpg");
            }

            &:before {
                content: "";
                position: absolute;
                height: 100vh;
                width: 100%;
                z-index: 4;
                top: 0;
                left: 0;
            }
        }
    }
}

/* recommended song list */
main.wrapper {
    .wrapper__container {
        &:nth-of-type(4) {
            align-items: normal;
            width: 100%;
            justify-content: left;
            display: flex;
            flex-direction: column;

            #recommendations__text {
                display: flex;
                flex-direction: column;
                justify-content: left;

                h1 {
                    font-size: 5.5em;
                }

                p {
                    color: #c1c7d4;
                }
            }

            .recommendations_display {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                h2,
                h3 {
                    width: 18vw;
                }

                .recommendations_display__left {
                    justify-self: center;
                    align-items: center;
                }
                .recommendations_display__center {
                    justify-self: center;
                }

                .recommendations_display__right {
                    justify-self: center;
                }
                .recommendation {
                    width: 100%;
                    padding-bottom: 3em;
                    .recommendation__img {
                        width: 18vw;
                        height: auto;
                    }
                }
            }
        }
    }
}
